.container{
	max-width: 1000px;
}

nav .brand-logo {
	color: #666;
	left: 0;
}

nav .brand-logo img {
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
}

nav ul a {
	color: #666;
}

.modal{
	display: inline-block;
	position: fixed;
	left: 0;
	right: 0;
	top: 140px;
	background-color: #fafafa;
	padding: 0;
	max-height: 70%;
	width: 55%;
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 2px;
	will-change: top, opacity;
	z-index: 9999;
}

.modal:focus{
	outline: none;
}

.modal h4 {
	margin: 1.14rem 0 .912rem 0;
}

.overlay:before{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 1;
	opacity: 0.5;
}

.animated {
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

.table-of-contents a.active {
	border-color: #02b3e4;
}

.table-of-contents a:hover {
	border-color: #02b3e4;
}

.btn{
	margin: 2px;
}

.btn.btn-flat:hover{
	background-color: #eee;
}

.toastify--top-right {
	top: 5em;
}

/*HELPERS*/

.v-a-m{
	vertical-align: middle;
}

.m-n{
	margin: 0 !important;
}

/*FORMS*/

select {
	display: inline-block;
	width: auto;
	background-color: rgba(255,255,255,0.9);
	padding: 5px;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 2px;
	height: auto;
}

.input-field select {
	width:100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 2px;
	height: 3em;
	position: static;
	display: block !important;
	opacity: 1;
	background-color: transparent;
	pointer-events: auto;
}

select:focus {
	outline: none;
	border-bottom: 1px solid #02b3e4;
	-webkit-box-shadow: 0 1px 0 0 #02b3e4;
	box-shadow: 0 1px 0 0 #02b3e4;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #02b3e4;
	-webkit-box-shadow: 0 1px 0 0 #02b3e4;
	box-shadow: 0 1px 0 0 #02b3e4;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #02b3e4;
}

input.invalid:not([type]), input.invalid:not([type]):focus, input[type=text].invalid:not(.browser-default), input[type=text].invalid:not(.browser-default):focus, input[type=password].invalid:not(.browser-default), input[type=password].invalid:not(.browser-default):focus, input[type=email].invalid:not(.browser-default), input[type=email].invalid:not(.browser-default):focus, input[type=url].invalid:not(.browser-default), input[type=url].invalid:not(.browser-default):focus, input[type=time].invalid:not(.browser-default), input[type=time].invalid:not(.browser-default):focus, input[type=date].invalid:not(.browser-default), input[type=date].invalid:not(.browser-default):focus, input[type=datetime].invalid:not(.browser-default), input[type=datetime].invalid:not(.browser-default):focus, input[type=datetime-local].invalid:not(.browser-default), input[type=datetime-local].invalid:not(.browser-default):focus, input[type=tel].invalid:not(.browser-default), input[type=tel].invalid:not(.browser-default):focus, input[type=number].invalid:not(.browser-default), input[type=number].invalid:not(.browser-default):focus, input[type=search].invalid:not(.browser-default), input[type=search].invalid:not(.browser-default):focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid>input.select-dropdown {
	border-bottom: 1px solid #F44336;
	-webkit-box-shadow: 0 1px 0 0 #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

/*SCORE*/

.fa-2x {
	font-size: 1.5em;
	margin-right: 10px;
}

.fa-thumbs-down, .fa-thumbs-up {
	color: #ccc;
}

.fa-thumbs-down:hover{
	color: #F44336;
}

.fa-thumbs-up:hover {
	color: #4CAF50;
}

.score{
	font-size: 18px;
}